
<div id="compara-funcionarios" class="fluid-container">
    <div class="header-compara">
        <h4 class="text-center bolder">COMPARACIÓN ENTRE SERVIDORES PÚBLICOS</h4>
	<p>ATENCIÓN: Las comparaciones que realiza esta herramienta sólo consideran variables cuantificables como el número de comisiones, los montos gastados, así como los días en comisión, entre otros datos numéricos. Sin embargo, se recomienda tomar en cuenta que cada servidor público, por la naturaleza de su institución, cargo y funciones, tendrá cifras y parámetros distintos. Adicionalmente, se recomienda considerar que las comisiones de trabajo de cada sujeto obligado pueden estar reguladas por normativas distintas.</p>
    </div>

    <div class="container">
        <ul class="list-group row">
            <li class="list-group-item col-xs-6 col-sm-4 col-md-4" ng-repeat="f in funcionariosCompara">
                <div class="panel panel-default">
                    <div class="panel-body text-center gray">
                        <div class="funcionario-nombre">
                            <a href="#/funcionario/{{f.id}}?n={{f.nombres}}&a1={{f.apellido1}}&a2={{f.apellido2}}" class="bold">{{f.nombres + " " + f.apellido1 + " " + f.apellido2}}</a> <br/>
                            <small><strong>{{f.dependencia}}</strong></small> <br/>
                            <small class="gray">{{f.cargo| uppercase}}</small>
                        </div>

			<br/>
					<div class="funcionario-nombre">
						<table>
							<tr>
								<td colspan="2">
									<h3 class="blue"><strong><span>{{f.totalViajes ? f.totalViajes : 0}}</span></strong></h3>
									<h5><strong>Número total de comisiones</strong></h5>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>
									<h4 class="blue"><strong><span>{{f.comisNac ? f.comisNac :0 }}</span></strong></h4>
									<h6><strong>Número de comisiones nacionales</strong></h6>
								</td>
								<td>
									<h4 class="blue"><strong><span>{{ (f.totalViajes - f.comisNac) ? (f.totalViajes - f.comisNac) : 0}}</span></strong></h4>
									<h6><strong>Número de comisiones internacionales</strong></h6>
								</td>
							</tr>
						</table>
					</div>
                        <br/>
					<div class="funcionario-nombre">
						<table>
							<tr>
								<td colspan="2">
									<h3 class="blue"><strong><span>{{ (f.totalGasto ? f.totalGasto : 0) | currency:"$":0}}</span></strong></h3>
									<h5><strong>Gasto en comisiones en el periodo seleccionado</strong></h5>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>
									<h4 class="blue"><strong><span>{{ (f.ctoTotalComisNac ? f.ctoTotalComisNac : 0) | currency:"$":0}}</span></strong></h4>
									<h6><strong>Gasto en comisiones nacionales</strong></h6>
								</td>
								<td>
									<h4 class="blue"><strong><span>{{ ( (f.totalGasto - f.ctoTotalComisNac) ? (f.totalGasto - f.ctoTotalComisNac) : 0 ) | currency:"$":0}}</span></strong></h4>
									<h6><strong>Gasto en comisiones internacionales</strong></h6>
								</td>
							</tr>
						</table>
					</div>
                        <br/>
                        <!--<a href="#/viaje/{{f.idViajeMasCostoso}}"><h4 class="blue"><strong><span>{{f.viajeMasCostoso | currency:"$":0}}</span></strong></h4></a>-->
					<div class="funcionario-nombre">
						<table>
							<tr>
								<td colspan="2">
									<h3 class="blue"><strong><span>{{ ( (f.totalGasto / f.totalViajes) ? (f.totalGasto / f.totalViajes) : 0 ) | currency:"$":0}}</span></strong></h3>
									<h5><strong>Gasto promedio por comisión</strong></h5>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>
									<h4 class="blue"><strong><span>{{ ( (f.ctoTotalComisNac / f.comisNac) ? (f.ctoTotalComisNac / f.comisNac) : 0 ) | currency:"$":0}}</span></strong></h4>
									<h6><strong>Gasto promedio por comisión nacional</strong></h6>
								</td>
								<td>
									<h4 class="blue"><strong><span>{{ ( (f.totalGasto - f.ctoTotalComisNac) / (f.totalViajes - f.comisNac) ) ? ( (f.totalGasto - f.ctoTotalComisNac) / (f.totalViajes - f.comisNac) ) : 0 | currency:"$":0 }}</span></strong></h4>
									<h6><strong>Gasto promedio por comisión internacional</strong></h6>
								</td>
							</tr>
						</table>
					</div>
								

                        <br/>
                    <div class="funcionario-nombre">
						<table>
							<tr>
								<td colspan="2">
									<!--    <p><i class="fa fa-calendar fa-lg"></i> 
										Fecha de ingreso: {{f.fechaIngreso ? f.fechaIngreso : "[No registrada]"}} <br/>
									<b>Días de comisión vs. días laborales</b></p>	
									<canvas ng-show="f.fechaIngreso" id="doughnut" class="chart chart-doughnut" chart-legend="true" chart-options="f.chartPorc.options"
											chart-data="f.chartPorc.data" chart-labels="f.chartPorc.labels">
									</canvas>-->
									<h3 class="blue"><strong><span>{{f.totalDiasViaje}}</span></strong></h3>
									<h5><strong>Días de trabajo en comisión</strong></h5>
									<!--<div class="no-fecha-ingreso" ng-hide="{{f.fechaIngreso}}">
										<h4>NO TIENE REGISTRADA UNA FECHA DE INGRESO</h4>
									</div>-->
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>
									<h4 class="blue"><strong><span>{{f.diasTrabajoNac}}</span></strong></h4>
									<h6><strong>Días de trabajo en comisiones nacionales</strong></h6>
								</td>
								<td>
									<h4 class="blue"><strong><span>{{f.totalDiasViaje - f.diasTrabajoNac}}</span></strong></h4>
									<h6><strong>Días de trabajo en comisiones internacionales</strong></h6>
								</td>
							</tr>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>